#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1e1c1c;
  color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


h1 {
  font-weight: 900;
  margin-bottom: 10px;
  text-align: left;
}

form {
  margin-top: 40px;
}


input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  margin: 5px 5px 5px 0;
}

button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background-color: #ffcf24;
  color: #1e1c1c;
  font-weight: bold;
  margin: 5px 0;
}


ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  width: 350px;
  display:grid
}


article {
  background-color: #2a2a2a;
  padding: 6px;
  border-radius: 20px;
  height: 100%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

article img {
  max-width: 100%;
  border-radius: 5px;
  height: 400px;
  object-fit: cover;


}


a {
  color: #fff;
  text-decoration: none;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;        
  gap: 20px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 20px;
}


.movie-details h1 {
  width: 100%;            
  font-size: 28px;
  margin: 0 0 10px 0;
}


.movie-poster {
  width: 200px;
  height: auto;
  border-radius: 10px;
  
}


.movie-details p {
  
  max-width: 700px;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}















